body{
    background-image: url(back/Patterns_Twitter.png);
    image-resolution: 50%;
    
}
#backdrop{
    background-color: #403F4C;
}

#title{
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 550px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #F7B05B;
}
#menu{
    display: flex;
    flex-direction: row;
    color: #E84855;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 40%;
}

.quote{
    font-size: 20px;
    color: #F7B05B;
}

.description{
    font-size: 10px;
    color: #F7B05B;
}

#quote-description{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#allinfo{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}


a:link {
    color: #E84855;
    background-color: transparent;
    text-decoration: underline;
  }
  a:visited {
    color: #E84855;
    background-color: transparent;
    text-decoration: underline;
  }

.dot{
    height: 350px;
    width: 350px;
    background-color: #93A29B;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 305px;
    left: 1020px;
    z-index: 0;
}

#homeimage{
    z-index: 1;
}
